.Header {
  border: 1px solid #69f0ae !important;
  border-radius: 4px;
  background: #fff;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.Header .icon-left {
  margin-top: auto;
  margin-bottom: auto;
}

.Header .icon-right {
  margin-top: auto;
  margin-bottom: auto;
}

.Header .center-align {
  text-align: center;
}

.Header .m1 {
  margin: 0 20px;
}

.Header .profile_name {
  font-size: 2rem;
}
